@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Muller", "Roboto";
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5 {
  font-style: normal;
}

.wrapper h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.02rem;
  /* Blue */
  color: #3e1bdb;
}

.wrapper h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  letter-spacing: 0.1em;
  /* Black */
  color: #111111;
}

.wrapper h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.3px;
  /* Blue */
  color: #3e1bdb;
}

.wrapper h4,
.wrapper h5 {
  letter-spacing: 0.3px;
  line-height: 24px;
  /* Black */
  color: #111111;
}

.wrapper h4 {
  font-size: 24px;
  font-weight: bold;
}

.wrapper h5 {
  font-weight: normal;
  font-size: 16px;
  color: #111111;
}

.wrapper header {
  background: white;
}

.wrapper main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper footer {
  position: relative;
  z-index: 1000;
}

.wrapper .headers {
  margin: 0 auto;
  margin-bottom: 161px;
  text-align: center;
}

.wrapper .headers__container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper .headers__main-title {
  margin: 0 91px 37px;
}

.wrapper .headers__sub-title {
  margin: 0 286px;
}

.wrapper .sub-navigation {
  margin-bottom: 124px;
  margin-top: 24px;
}

.wrapper .sub-navigation__container {
  margin-bottom: 16px;
}

.wrapper .sub-navigation__item {
  margin-top: 24px;
}

.wrapper .sub-navigation__item a {
  text-decoration: none;
  color: #888888;
  font-size: 14px;
  line-height: 16px;
}

.wrapper .sub-navigation__item svg {
  margin-top: -1px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 16px;
}

.wrapper .sub-navigation__item:last-child a {
  color: #111111;
}

.wrapper .sub-navigation .bt-line {
  border-top: 1px solid #888888;
}

@media screen and (max-width: 900px) {
  .wrapper .headers__sub-title {
    margin: 0 30px;
  }
  .wrapper .headers__img img {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .wrapper .headers__main-title {
    margin: 0 0px 37px;
  }
  .wrapper .headers__sub-title {
    margin: 0;
  }
}

.bt-line {
  width: 10rem;
}

.conclusion {
  margin-bottom: 100px;
}

.conclusion .bt-line {
  border-top: 2px solid #111111;
  margin-bottom: 40px;
}

.conclusion__right h4 + h5 {
  margin-top: 24px;
}

.conclusion__right h5 + h4 {
  margin-top: 68px;
}

.text__list {
  margin: 24px 0;
}

.text__list li {
  list-style-type: none;
  position: relative;
  /* It's needed for setting position to absolute in the next rule. */
}

.text__list li + li {
  margin-top: 24px;
}

.text__list li::before {
  content: "•";
  position: absolute;
  left: -0.8em;
  /* Adjust this value so that it appears where you want. */
  font-size: 0.9em;
  /* Adjust this value so that it appears what size you want. */
}

a.learn-more {
  font-size: 24px;
  line-height: 117%;
  /* or 28px */
  letter-spacing: -0.03em;
  /* Black */
  color: #111111;
  margin-right: 60px;
  text-decoration: none;
}

a.learn-more svg {
  font-size: 2rem;
  margin-top: -1px;
  margin-left: 8px;
}

.bt-desc {
  margin-bottom: 80px;
}

.bt-desc__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3px;
  color: #888888;
}

.title-img img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_container .price_box {
  padding: 24px;
  position: relative;
  border: 1px solid black;
  text-align: center;
  border-radius: 24px;
  margin: 20px 20px 20px 0;
  width: 261px;
  height: 355px;
}

.price_container .price_box:last-child {
  margin-right: 0;
}

.price_container .price_box h5 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #111111;
}

.price_container .price_box span {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #2e00ff;
  margin-bottom: 16px;
}

.price_container .price_box .box_content {
  position: relative;
  margin: 20px auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #111111;
  width: 213px;
  height: 142px;
}

.price_container .price_box .box_content::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 160px;
  height: 1px;
  background: #111111;
}

.price_container .price_box button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 40px 0;
  cursor: pointer;
  background: none;
  border: none;
}

.price_container .price_box button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #111111;
}

@media screen and (max-width: 770px) {
  .conclusion__left {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=config.css.map */