// @import '~mdb-ui-kit/css/mdb.min.css';
@import 'pages/main_page';
@import 'fonts/fonts';
@import 'components/components';
@import 'components/header';
@import 'components/footer';
@import 'settings/config';
@import 'utils/functions';
@import 'variables/variables';
@import 'themes/themes';
@import 'pages/account_page';
@import 'pages/due-pay';
@import 'pages/commodities';
@import 'pages/marketplace';
@import 'pages/card';
@import 'pages/cub';
@import 'pages/budgeting';
@import 'pages/stocks';
@import 'pages/crypto';
@import 'pages/snl_bonus';



