body{
    height: 100vh;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    header{
    }
    main{
        flex: 1 1 auto;
    }
    footer{
    }
}
