*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    header{
        background: white;

    }
    main{
        position: relative;
        flex: 1 1 auto;
    }
    footer{
        position:relative;
        z-index: 1000;
    }
    
}
