@font-face { 
    font-family: 'Gotham Pro'; 
    src: url('./media/font/Muller/Non-commercial/Muller/TTF/Muller-Trial-Regular.ttf');

    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'Muller'; 
    src: url('../fonts/Muller/Commercial/OTF/MullerDemo-ExtraBold.otf');
    font-style: normal; 
}
