@font-face { 
    font-family: 'Gotham Pro'; 
    src: url('../fonts/GothamPro/gothampro.ttf');
    src: url('gothampro.ttf');

    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'Muller'; 
    src: url('../fonts/Muller/Commercial/OTF/MullerNarrowDemo-ExtraBold.otf');

    font-style: normal; 
}
