$bg-cube: url('../media/img/budget_page/cube.svg');
$bg-header-img: url('../media/img/budget_page/headers_img.svg');

.bt-line {
	width: 10rem;
}

._limit_container {
	width: 90%;
	margin: 0 auto;
}

.sub-navigation {
	margin-bottom: 124px;
	margin-top: 24px;
	&__container {
		margin-bottom: 16px;
	}

	&__item {
		margin-top: 24px;
		a {
			text-decoration: none;
			color: $gray;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
		}
		svg {
			margin-top: -1px;
			margin-left: 8px;
			margin-right: 8px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
		}

		&:last-child a {
			color: $black;
		}
	}

	.bt-line {
		border-top: 1px solid $gray;
	}
}

.intro-text {
	width: 70%;
	margin: 0 auto 90px;
	text-align: center;
}

.budgeting-page {
	background-image: $bg-figures, $bg-figures, $bg-cube;
	background-repeat: no-repeat;
	background-position-x: 4%, 18%, 14%;
	background-position-y: 46%, 79%, 116%;

	.headers {
		#budget_img {
			max-width: 100%;
			top: -130px;
			position: relative;
			transition: 0.3s ease-out;
		}
	}

	.image {
		&-1 {
			width: 70%;
		}
		&-2 {
			width: 80%;
			margin: unset;
			text-align: unset;
		}
		&-3 {
			width: 55%;
		}
		img {
			width: 100%;
		}
	}

	.b_page_block-1 {
		margin-bottom: 300px;
		.point-edit {
			margin-bottom: 100px;
		}
	}

	@media screen and (max-width: 1000px) {
		.b_page_block-1 {
			margin-bottom: 50px;
			.point-edit {
				margin-bottom: 50px;
			}
		}

		.headers {
			margin-bottom: 100px;
		}
	}

	.conclusion {
		margin-bottom: 120px;
		&__right {
			h5 + h4 {
				margin-top: 68px;
			}
		}
	}
}
