$primary-color: #e5e5e5;
$gray: #888888;
$black: #111111;
$blue: #3e1bdb;

@mixin container_div($mt,$w-desc:50%,$w-img:40%) {
	margin-top: $mt;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	&__desc {
		width: $w-desc;
		h4,
		h5 {
			font-style: normal;
			letter-spacing: 0.3px;
			line-height: 24px;
			/* Black */
			color: $black;
		}
		h4 {
			font-weight: bold;
			font-size: 24px;
		}
		.bt-line {
			border-color: $black;
		}
		h5 {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;

			display: flex;
			flex-direction: column;
			margin-top: 83px;
			span:not(:last-child) {
				margin-bottom: 24px;
			}
			i {
				color: $blue;
				padding-right: 10px;
			}
		}
	}
	&__img {
		width: $w-img;
		img {
			width: 100%;
		}
	}
}

.budgeting_page {
	width: 100%;
	padding: 0 80px;
	.arrow-nav {
		span {
			margin-top: 24px;
			a {
				text-decoration: none;
				color: $gray;
			}
			svg {
				margin-top: -1px;
				margin-left: 8px;
				margin-right: 8px;
			}
			&:last-child a {
				color: $black;
			}
		}
	}
	.bt-line {
		width: 10rem;
		border-top: 1px solid $gray;
		margin-top: 1rem;
	}

	.headers {
		margin-top: 141px;
		&__title {
			h1 {
				font-style: normal;
				font-weight: bold;
				font-size: 60px;
				line-height: 60px;

				padding: 0 91px;

				text-align: center;
				letter-spacing: 0.02em;

				color: $blue;
			}

			h2 {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				/* or 200% */

				margin-top: 38px;

				padding: 0 276px;
				text-align: center;
				letter-spacing: 0.1em;

				/* Black */
				color: $black;
			}
		}
		&__bg-img {
			img {
				width: 100%;
				margin-top: -130px;
			}
		}
		h3 {
			margin: 160px 260px 0;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 36px;
			text-align: center;
			letter-spacing: 0.3px;
			color: $blue;
		}
	}

	.analytics {
		@include container_div(64px);
	}

	.bg_figure {
		position: absolute;
		z-index: -1;
	}

	.charts {
		@include container_div(258px);
	}

	.notifications {
		@include container_div(174px,50%,30%);
		align-items: unset;
		&__img {
            margin-right: 110px;
            img {
                padding-top: 90px;
            }
		}
	}
}

// main {
// 	width: 100%;
// 	.main_container {
// 		width: 90%;
// 		margin: 0 auto;
// 		.arrow_nav {
// 			list-style-type: none;
// 			display: flex;
// 			align-items: center;
// 			span {
// 				padding-top: 1.5rem;
// 				text-align: center;
// 				a {
// 					text-decoration: none;
// 					color: rgb(136, 136, 136);
// 					font-size: 1rem;
// 				}
// 				i {
// 					padding: 0 10px;
// 					color: rgb(136, 136, 136);
// 					font-size: .8rem;
// 					font-weight: 600;
// 				}

// 				&:last-child {
// 					a,
// 					i {
// 						color: #111111;
// 					}
// 				}
// 			}
// 		}
// 		.bt_line {
// 			width: 10rem;
// 			border-top: 1px solid $gray;
// 			margin-top: 1.3rem;
// 		}

// 		.container_headers {
// 			width: 90%;
// 			margin: 8rem auto;
// 			.headers {
// 				width: 100%;
// 				text-align: center;
// 				justify-content: center;
// 				h1 {
// 					color: blue;
// 					font-size: 4.5rem;
// 					-webkit-text-stroke: 1px $black;
// 					text-shadow: 0px 6px 6px $black;
// 				}

// 				h2 {
// 					color: black;
// 					width: 60%;
// 					margin: 0 auto;
// 					padding-top: 2rem;
// 					line-height: 2.5rem;
// 					font-size: 1rem;
// 					letter-spacing: 0.11rem;
// 					margin-top: 1rem;
// 					justify-content: center;
// 				}
// 			}
// 			.headers_bg_img {
// 				text-align: center;
// 				margin-top: -10%;
// 				img {
// 					width: 100%;
// 				}
// 			}
// 		}

// 		.container_analytics {
// 			h3 {
// 				color: $blue;
// 				width: 60%;
// 				margin: 0 auto;
// 				font-size: 2.2rem;
// 				text-align: center;
// 			}

// 			.analytics {
// 				margin-top: 10rem;
// 				.analytics_desc {
// 					margin: auto 0;
// 					h4 {
// 						color: $black;
// 						font-size: 1.4rem;
// 					}

// 					.bt_line {
// 						width: 10rem;
// 						border-top: 1px solid $black;
// 						margin-top: 2rem;
// 					}

// 					h5 {
// 						display: flex;
// 						flex-direction: column;
// 						margin-top: 2em;
// 						span {
// 							padding: 1rem 0;
// 							font-size: 1rem;
// 							i {
// 								padding-right: .7rem;
// 								color: blue;
// 							}
// 						}
// 					}
// 				}
// 				.analytics_table {
// 					text-align: end;
// 				}
// 			}
// 		}

// 		.container_charts {
// 			margin-top: 10rem;
// 			.charts {
// 				.charts_desc {
// 					margin-top: 8rem;
// 					h4 {
// 						color: $black;
// 						font-size: 1.4rem;
// 					}

// 					.bt_line {
// 						width: 10rem;
// 						border-top: 1px solid $black;
// 						margin-top: 2rem;
// 					}

// 					h5 {
// 						display: flex;
// 						flex-direction: column;
// 						margin-top: 2em;
// 						span {
// 							padding: 1rem 0;
// 							font-size: 1rem;
// 							i {
// 								padding-right: .7rem;
// 								color: blue;
// 							}
// 						}
// 					}
// 				}
// 				.charts_img {
// 					text-align: center;
// 				}
// 			}

// 		}

// 		.container_notifications {
// 			margin-top: 10rem;
// 			.notifications {
// 				.notifications_desc {
// 					h4 {
// 						color: $black;
// 						font-size: 1.4rem;
// 					}

// 					.bt_line {
// 						width: 10rem;
// 						border-top: 1px solid $black;
// 						margin-top: 2rem;
// 					}

// 					h5 {
// 						display: flex;
// 						flex-direction: column;
// 						margin-top: 2em;
// 						span {
// 							padding: 1rem 0;
// 							font-size: 1rem;
// 							i {
// 								padding-right: .7rem;
// 								color: blue;
// 							}
// 						}
// 					}
// 				}
// 				.notifications_img {
// 					margin-top: 6rem;
// 					text-align: center;
// 				}
// 			}
// 			.bg_figures {
// 				padding: 0 6rem;
// 			}

// 		}

// 	}
// }
