@import "../utils/mixins";
@import "../pages/stocks";

$bg-tri-figures-reversed: url("../media/img/crypto_page/bg-img07.svg");
$bg-img08: url("../media/img/crypto_page/bg-img08.svg");
$bg-img09: url("../media/img/crypto_page/bg-img09.svg");
$bg-img10: url("../media/img/crypto_page/bg-img10.svg");

.crypto-img {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 600px;
  &-container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    .crypto-img__child {
      display: inline;
      position: absolute;
      img {
        transition: 0.3s ease-out;
      }
    }
    #crypto-img {
      &1 {
        top: 4%;
        left: 0%;
      }
      &2 {
        top: 38%;
        left: 10%;
      }
      &3 {
        top: 53%;
        left: 30%;
      }
      &4 {
        top: 53%;
        left: 62%;
      }
      &5 {
        top: 29%;
        left: 78%;
      }
      &6 {
        top: -8%;
        left: 83%;
      }
    }
  }
}

.crypto-page {
  background-image: $bg-tri-figures-reversed, $bg-img08, $bg-img09, $bg-figures,
    $bg-img10;
  background-repeat: no-repeat;
  background-position-x: 0%, 43%, 100%, 94%, 0%;
  background-position-y: 43%, 60%, 63%, 77%, 95%;

  .headers {
    margin-bottom: 250px;
    max-width: 1200px;
    &__main-title {
      padding: 0 100px;
    }
  }

  .intro-text {
    margin: 0 auto;
  }

  .b_page_block {
    margin-top: 160px;
  }

  .b_page_block-1 {
    margin-bottom: 200px;
  }

  .image {
    margin: unset;
    &-1 {
      width: 70%;
      margin-left: auto;
      text-align: unset;
    }
    &-2 {
      width: 80%;
      margin: 0 auto;
    }
    &-3 {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .crypto-img {
    top: 6%;
  }
}

@media screen and (max-width: 1200px) {
  .crypto-page {
    background-position-y: 41%, 59%, 60%, 75%, 94%;
  }
}

@media screen and (max-width: 940px) {
  .headers {
    margin-bottom: 100px;
  }

  .crypto-img {
    display: none;
  }

  .crypto-page {
    background-position-y: 38%, 57%, 57%, 72%, 95%;
    .headers {
      margin-bottom: 100px;
    }

  }
}

@media screen and (max-width: 770px) {
  .crypto-page {
    background-position-y: 38.5%, 57%, 58%, 76%, 94%;
  }
}