@import '../utils/mixins';
@import '../pages/stocks';

$bg-figures-reversed: url('../media/img/crypto_page/bg-img07.svg');
$bg-img08: url('../media/img/crypto_page/bg-img08.svg');
$bg-img09: url('../media/img/crypto_page/bg-img09.svg');
$bg-img10: url('../media/img/crypto_page/bg-img10.svg');


.crypto-page {
	background-image: $bg-figures-reversed, $bg-img08, $bg-img09, $bg-figures, $bg-img10;
	background-repeat: no-repeat;
	background-position-x: 0% , 43%, 100%, 94%, 0%;
	background-position-y: 46%, 63%, 65%,  77%, 95%;


	@include commonFonts;

	.headers {
		margin-bottom: 288px;
		max-width: 1200px;
		&__main-title {
			padding: 0 100px;
		}
	}

	.intro-text {
		margin: 0 auto;
	}
}

.crypto-img {
	width: 100%;
	img {
		position: absolute;
		&:nth-child(1) {
			top: 8%;
			left: 3%;
		}
		&:nth-child(2) {
			top: 16%;
			left: 10%;
		}
		&:nth-child(3) {
			top: 18%;
			left: 30%;
		}
		&:nth-child(4) {
			top: 18%;
			left: 62%;
		}
		&:nth-child(5) {
			top: 14%;
			left: 78%;
		}
		&:nth-child(6) {
			top: 4%;
			right: 3%;
		}
	}
}

.section-text {
	i {
		font-size: 15px;
		color: $blue;
		margin-right: 12px;
	}

	.bt-line {
		border-bottom: 1px solid $black;
		margin-top: 16px;
		margin-bottom: 80px;
	}
}

.conclusion {
	display: flex;
	align-items: center;

	h3 {
		margin-bottom: 16px;
	}

	.bt-line {
		border-bottom: 1px solid $black;
		margin-bottom: 40px;
	}

	h4 {
		margin-bottom: 24px;
	}

	&__item {
		margin-bottom: 68px;
	}
}
