.early-salary-page {
  $bg-cub-reversed: url("../media/img/early-salary/bg-cub-reversed.svg");

  background-image: $bg-figures-reversed, $bg-cub-reversed;
  background-repeat: no-repeat;
  background-position-x: 96%, 100%;
  background-position-y: 67%, 122%;
  padding-bottom: 50px;

  .headers {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    position: relative;
    margin-bottom: 160px;

    &__main-title {
      padding: 0 70px;
    }

    &__sub-title {
      margin: 0 220px;
    }

    &__img {
      height: 350px;
      position: relative;
      img {
        transition: 0.3s ease-out;
        position: absolute;
        &:nth-child(1) {
          top: 0;
          left: 0;
        }
        &:nth-child(2) {
          top: 36%;
          left: 14%;
        }
        &:nth-child(3) {
          left: 33%;
          bottom: 0;
        }
        &:nth-child(4) {
          right: 33%;
          bottom: 0;
        }
        &:nth-child(5) {
          top: 37%;
          right: 15%;
        }
        &:nth-child(6) {
          top: 0;
          right: 0;
        }
      }
    }
  }

  .text__list {
    margin: 12px 0;
    li + li {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .early-salary-page .headers {
    &__main-title {
      padding: 0 0px;
    }

    &__sub-title {
      margin: 0 120px;
    }

    &__img {
      display: none;
    }
  }
}
