.platinum-page {

	background-image: $bg-figures, $bg-figures-reversed, $bg-cub-reversed;
	background-repeat: no-repeat;
	background-position-x: 10%, 90%, 81%;
	background-position-y: 10%, 5%, 104%;

	.headers {
		margin: 0 auto;
		max-width: 1400px;
		width: 100%;
		position: relative;
		margin-bottom: 160px;

		&__main-title {
			padding: 0 70px;
		}

		&__sub-title {
			margin: 0 240px 52px;
		}

		&__img--anim {
			img {
				opacity: 1;
				width: 70%;
				transition: .3s ease-out;
			}
		}

		.price_container {
			justify-content: center;
			gap: 50px;
			h5 {
				font-weight: bold;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 0.1em;

				/* Black */
				color: $black;
			}
		}
		.price_box {
			span {
				font-weight: bold;
				font-size: 16px;
				line-height: 16px;
				text-align: center;
				letter-spacing: 0.1em;
			}
			button > a {
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				/* or 150% */

				text-align: center;
				letter-spacing: 0.1em;

				/* Black */

				color: $black;
			}
		}
	}
	.headers__img--anim2 {
		img {
			transition: .3s ease-out;
		}
	}
	.content-section {
		margin-top: 0px;
	}
}
