.snl-token-page {

	$bg-fg01: url('../media/img/snl-token/bg-fg01.svg');

	background-image: $bg-figures, $bg-fg01;
	background-repeat: no-repeat;
	background-position-x: 4%, 45%;
	background-position-y: 34%, 30.5%;

	.headers {
		margin: 0 auto;
		max-width: 1400px;
		width: 100%;
		position: relative;
		margin-bottom: 160px;

		&__main-title {
			padding: 0 70px;
		}

		&__sub-title {
			margin: 0 150px 52px;
		}

		&__img {
			width: 100%;
			img + img {
				margin-left: 100px;
			}
		}

        &-second {
			margin-top: 100px;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }
	}

	.point-blue {
		i {
			visibility: hidden;
		}
		h5 {
			color: $blue;
		}
	}
}
