@import '../utils/mixins';
@import '../pages/stocks';

.snl_bonus-page {
	background-image: $bg-figures-reversed, $bg-figures;
	background-repeat: no-repeat;
	background-position-x: 87%, 69%;
	background-position-y: 56%, 69%;

	.headers {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
		height: 550px;
		position: relative;
		&__main-title {
			padding: 0 100px;
		}

		&__img {
			height: 100%;
			width: 100%;
			img {
				transition: .3s ease-out;
				position: absolute;
				&:nth-child(1) {
					top: 0;
					left: -2%;
				}
				&:nth-child(2) {
					top: 25%;
					left: 6%;
				}
				&:nth-child(3) {
					top: 53%;
					left: 20%;
				}
				&:nth-child(4) {
					top: 53%;
					right: 20%;
				}
				&:nth-child(5) {
					top: 32%;
					right: 7%;
				}

				&:nth-child(6) {
					top: 0;
					right: -2%;
				}
			}
		}
	}

	.animated-snl {
		margin-bottom: 160px;
		position: relative;

		#centerImg {
			position: absolute;
			width: 9%;
			top: 35%;
			left: 45.5%;
		}

		&__container {
			position: relative;
			height: 45vw;
			width: 45vw;
			margin: 0 auto;

			animation: rotate 30s infinite linear;

			// For navigation

			// border: 3px solid red;
			// border-radius: 50%;
			// .vert {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 50%;

			// 	width: 1px;
			// 	height: 100%;
			// 	background-color: red;
			// }
			// .hor {
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 1px;
			// 	background-color: red;
			// }
			img {
				position: absolute;
				width: 23%;
				animation: rotate_img 30s infinite linear;
				&:nth-child(1) {
					top: 0;
					left: 38.5%;
				}
				&:nth-child(2) {
					top: 10%;
					left: 12%;
				}
				&:nth-child(3) {
					top: 37.5%;
					left: 0;
				}
				&:nth-child(4) {
					bottom: 13%;
					left: 12%;
				}
				&:nth-child(5) {
					bottom: 0;
					left: 38.5%;
				}
				&:nth-child(6) {
					bottom: 13%;
					right: 12%;
				}

				&:nth-child(7) {
					top: 37.5%;
					right: 0;
				}
				&:nth-child(8) {
					top: 12%;
					right: 13%;
				}
			}
		}

		

	}

	.conclusion {
		display: flex;
		&__title {
			max-width: 550px;
		}
		&__body {
			max-width: 670px;
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate_img {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

