@import "../pages/budgeting";
@import "../utils/mixins.scss";

$bg-triangle: url("../media/img/stocks_page/triangle3.svg");

.stocks-page {
  background-image: $bg-triangle, $bg-figures;
  background-repeat: no-repeat;
  background-position-x: 79%, 28.5%;
  background-position-y: 51%, 93.5%;

  .b_page_block-1 {
    margin-bottom: 60px;
  }

  .block_image-1 {
    align-self: center;
    display: flex;
    gap: 10px;
    .cross-img {
      align-self: end;
      img {
        padding-bottom: 30px;
      }
    }
    .profile-img {
      flex: 1;
      text-align: center;
    }
  }

  .headers {
    position: relative;
    max-width: 1300px;
    &__container {
      margin-bottom: 257px;
    }
    .stock-tokens {
      &__item {
        display: inline;
        position: absolute;
        img {
          transition: 0.3s ease-out;
        }
        &:first-child {
          left: 0;
          top: -13%;
        }
        &:nth-child(2) {
          left: 7%;
          top: 55%;
        }
        &:nth-child(3) {
          left: 24%;
          top: 110%;
        }
        &:nth-child(4) {
          right: 0;
          top: -13%;
        }
        &:nth-child(5) {
          right: 7%;
          top: 55%;
        }
        &:nth-child(6) {
          right: 24%;
          top: 110%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .stocks-page .headers {
    margin-bottom: 110px;
    &__container {
      margin-bottom: 0px;
    }
    .stock-tokens {
      display: none;
    }
  }
}

@media screen and (max-width: 770px) {
  .stocks-page {
    background-position-y: 49%, 94.5%;
  }
}
