.subscriptions-page {

  $bg-cub-reversed: url("../media/img/bg-cub-reversed.svg");

  background-image: $bg-figures-reversed, $bg-cub-reversed;
  background-repeat: no-repeat;
  background-position-x: 96%, 99%;
  background-position-y: 62%, 130%;

  padding-bottom: 150px;

  .headers {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    position: relative;
	margin-bottom: 50px;

    &__main-title {
      padding: 0 70px;
    }

    &__sub-title {
      margin: 0 310px;
    }

    &__img {
      height: 350px;
      width: 100%;
      position: relative;
      img {
        transition: 0.3s ease-out;
        position: absolute;
        &:nth-child(1) {
          top: -27%;
          left: 0;
        }
        &:nth-child(2) {
			top: 8%;
			left: 15%;
		 
        }
        &:nth-child(3) {
			top: 14%;
			left: 28%;
		 
        }
        &:nth-child(4) {
			top: 40%;
			left: 45%;
		 
        }
        &:nth-child(5) {
			top: 27%;
			right: 25%;
		 
        }
        &:nth-child(6) {
			top: 2%;
			right: 12%;		 
        }
        &:nth-child(7) {
          top: -32%;
          right: 0;
        }
      }
    }
  }

  .image {
    width: 70%;
  }
  .b_page_block-edit-1 {
	  margin-top: 0;
  }
}