.account_page_body {
	height: 100%;
	background-image: url('../media/img/bg-element-cube.svg');
	background-position-x: 25%;
	background-repeat: no-repeat;
	background-position-y: 96%;
}
.account_page {
	background-image: url('../media/img/bg-element.svg');
	background-repeat: no-repeat;
	background-position-x: 7%;
	background-position-y: 77%;
	color: #111111;

	.headers {
		&__img {
			img {
				width: 100%;
				transition: 0.3s ease-out;
			}
		}
	}

	.image {
		&-1 {
			width: 50%;
		}
		&-2 {
			width: 50%;
			margin: unset;
			margin-left: 100px;
			text-align: unset;
		}
		&-3 {
			width: 55%;
		}
		img {
			width: 100%;
		}
	}
}
