main{
    ._limit_container{
        background-image: url(../../media/img/account_page_desctiption_bg.svg);
        background-size: auto;
        background-position: center;
        border: 1px solid red;
        height: 100vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            color: #3E1BDB;
        }
        h2{
            color: #111111;
        }
    }
   
}