.title{
    h1{
        width: 80%;
    }
    h2{
        width: 70%;
    }

    img {
        animation: float 7s infinite ease-out;
    }
}
.partner_block{
    margin: 160px 0;
    h1{
        color: black;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.02em;
    }
    a{
        text-decoration: none;
        border-radius: 8px;
        padding: 29px 80px;
        background-color: #3E1BDB;
        border: 1px solid #3E1BDB;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        transition: 0.2s ease;
        &:hover{
            background-color: white;
            color: #3E1BDB;
            transition: 0.2s ease;

        }
    }
    div{
        margin-top: 54px;
    }

}
    
@keyframes float {
    0%, 100% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(0);
    }
}