main {
	background-image: url("../../media/img/b_cards_page/bg-1.svg"), url("../../media/img/b_cards_page/bg-2.svg"),
		url("../../media/img/b_cards_page/cube.svg");
	background-repeat: no-repeat;
	background-position-x: 70%, 10%, 100%;
	background-position-y: 46%, 62%, 112%;

	.image--anim {
		img {
			transition: .3s ease-out;
		}
	}
}
.title {
	h1 {
		width: 90%;
	}
	h2 {
		width: 70%;
	}
	.image {
		width: 80%;
		img {
			width: 100%;
		}
	}
}

.footer-title {
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 25vh 0;
	h1 {
		font-size: 60px;
		font-weight: 600;
	}
	h2 {
		width: 60%;
	}
	.image {
		width: 60%;
		img {
			width: 100%;
		}
	}
}
.image-globe {
	position: relative;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	img {
		width: 100%;
		&:last-child {
			top: 12%;
			right: -20%;
			position: absolute;
			width: 65%;
		}
	}
}
.image-cardlock {
	position: relative;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	img {
		width: 100%;
		&:last-child {
			top: 12%;
			right: -20%;
			position: absolute;
			width: 45%;
		}
	}
}
.image-2 {
	height: 100%;
	width: 95%;
	margin: 0 auto;
	text-align: center;
	img {
		width: 100%;
	}
}
.image-3 {
	height: 100%;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	img {
		width: 100%;
	}
}
