.rewards_block{
    margin: 160px 0;
    h3{
        color:#3E1BDB;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 80px;

    }
    .image{
        width: 100%;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        img{
            width: 100%;
        }
    }
}