main{
    background-image: 
    url("../../media/img/b_expenses_page/cube.svg");
    background-repeat: no-repeat;
    background-position-x: 12%;
    background-position-y: 113%;
    background-size: 50%;
} 
.title-img{
    width: 100%;
    margin-top: -80px;
}
.title{
    h2{
        width: 53%;
    }
}
.image-1{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-2{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-3{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-4{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-5{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.title-img img{
    width: 100%;
}
.point_container{
    width: 80%;
    margin: 0 auto;
}
.footer_block{
    margin: 160px 0;
    color: black;
    position: relative;
    .line{
        position: absolute;
        top: 30px;
        z-index: -1;
        left: 0;
        width: 100%;
        border-bottom: 1px solid black;
        
    }
    .point_block{
        
        .point_text{
            width: 100%;
                
            h4{
            width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FAFF00;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.1em;
                margin-bottom: 24px;
            }
            h3{
            width: fit-content;
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.3px;
            }
            h5{
                margin-top: 20px;
                width: 85%;
                font-size: 16px;
                line-height: 24px;
                        
                letter-spacing: 0.3px;
            }
        }
        
    }
}
@media screen and (max-width:768px){
    .footer_block{
        .line{
                    display: none;
        
        }
        .point_block{
            border-top: 1px solid black;
            margin-top: 30px;
            padding-top: 20px;
        }
    
    }
}