.title{
    h2{
        width: 85%;
        margin-bottom: 55px;

    }
}
.blue_text{
    i{
        color: transparent;
    }
    h5{
        color: #3E1BDB;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        
        letter-spacing: 0.3px;

    }
}
.image-1{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-2{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-3{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
.image-4{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
