main{
  background-image: 
  url("../../media/img/cube-reversed2.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 108%;
  background-size: 50%;
}  
.image-2{
  width: 80%;
  margin: 0 auto;
  text-align: center;
img{
  width: 100%;
}}
.image-3{
  width: 90%;
  margin: 0 auto;
  text-align: center;
img{
  width: 100%;
}}
.image-6{
  width: 75%;
  margin: 0 auto;
  text-align: center;
img{
  width: 100%;
}}