main{
	background-image: 
                    url("../../media/img/due-pay-cube1.svg"),
                    url("../../media/img/cube-reversed.svg"),
                    url("../../media/img/bg-cross-play.svg"),
                    url("../../media/img/bg-figures-reversed.svg"),
                    url("../../media/img/bg-figures-reversed.svg"),
                    url("../../media/img/bg-figures-reversed.svg");
	background-repeat: no-repeat;
	background-position-x: 105%,36%,10%,85%,90%,90% ;
	background-position-y: 67%,110%,25%,15%,50%,82%;

}
.title{
    h2{
        margin-bottom: 40px;
    }
}
.point_numbers{
    h3{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: center;
        color: black;
        width: 60px;
        height: 60px;
        background-color: #FAFF00;
        border-radius: 50%;
    }
}
.point_text{
    color: black;
        .point_head{
            margin-bottom: 48px;

        }
    h4{
        margin-bottom: 20px;
    }
}