.commodity-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .commodity-header-title{
        max-width: 1100px;
        margin: 140px 0  0 0;
        h1{
            font-weight: bold;
            font-size: 60px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #3E1BDB;           
        }
    }
    .commodity-small-text-img{
        position: relative;
        margin-top: 40px;
        width: 100%;
        p{
            margin: 0 auto;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #111111;
            max-width: 710px;
        }
        img{
            width: 90%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}
.section-snowL-app{
    margin: 150px 0 90px 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    .section-item1{
        margin-right: 50px;
        margin-bottom: 50px;
        h1{
            position: relative;
            padding: 24px 0;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 0.3px;
            color: #111111;
            &:after{
                position: absolute;
                content: " ";
                width: 160px;
                height: 1px;
                background: #888888;
                bottom: 0;
                left: 0;
            }
        }
        p{
            margin-top: 80px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.3px;
            color: #111111;
        }
    }
    .section-item2{
        .section-item2-list{
                    padding: 0;
                    li{
                        list-style-type: none;
                        .list-header{
                            font-weight: bold;
                            font-size: 24px !important;
                            line-height: 24px !important;
                            letter-spacing: 0.3px !important;
                            color: #3E1BDB;
                        }
                        p{
                            margin-bottom: 40px;
                            margin-top: 24px;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.3px;
                            color: #111111;
                        }
                    }
        }
    }
}
.small-text-onfooter{
    margin: 0px 0 100px 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #858484;
}