
main{
    background-image: url('../../media/img/cub_page_bg1.svg'),url('../../media/img/cub_page_bg2.svg'),url('../../media/img/cube.svg');
    background-repeat: no-repeat ,no-repeat, no-repeat;
    background-position-x: 40%,91%,10%;
    background-position-y: 63%,82%,110%;
}

.title-img{
    width: 100%;
    img{
        width:100%
    }
}
.image-3{
    width: 80%;
    margin: 0 auto;
    text-align: center;
img{
    width: 100%;
}}
.image-4{
    width: 70%;
    margin: 0 auto;
    text-align: center;
img{
    width: 100%;
}}
