.footer-cube{
    position: relative;
    height: 250px;
    img{
        position: absolute;
        bottom: -100%;
        left: 6%;
    }
}
.arrow-marketplace{
    position: absolute;
    bottom: -100px;
    right: 0;
}