main{
    background-image: 
                    url("../../media/img/multi_currency_page/bg-2.svg"),
                    url("../../media/img/multi_currency_page/bg-1.svg"),
                    url("../../media/img/multi_currency_page/cube.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 15%, 70%, 50%;
    background-position-y: 42%, 62%, 112%;
}
.title-img2{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
  img{
    width: 100%;
  }
}