$layout_bg: black;
.navbar{
    background: orange;
    border: 1px solid black;
    .navigation__layout{
        background: $layout_bg;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        span{
            a{
                color: white;
                text-decoration: none;
            }
            display: inline-block;
            margin: 24px 15px;
            letter-spacing: 0.1em;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
        }
    }
}