$layout_bg: black;
$wlimit: 90%;
$font: 16px;
@import "../utils/mixins.scss";

.container_header{
    height: 58px;
    background: #111111;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    span{
        font-size: $font;
        margin: 0 45px;
        &:nth-child(1) a{
            text-decoration: none;
            color: white;
        }
        &:nth-child(2) a{
            text-decoration: underline;
            color: white;
        }
    }
}

nav{
    position: relative;
    z-index: 99;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #fff;
}
.wrapperN{
    background: #fff;
    position: relative;
    max-width: 90%;
    height: 90px;
    line-height: 70px;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapperN .logo a{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navigation_bar{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
  }
  .wrapperN .nav-links{
    display: inline-flex;
    @include reset-lists;
    li{
        margin: 5px 22px;
    }
  }
  .wrapperN .nav-links li{
    margin: 5px 20px;
  }
  .navigation_login{
    margin: 10px 0;
    font-size: 16px;
    width: 280px;
  }
  .navigation_login a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .getStarted{
    margin: 0 0 0 22px;
    border: none;
    cursor: pointer;
    width: 167px;
    height: 60px;
    background: #3E1BDB;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
  }
  .nav-links li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .nav-links li a:hover{
    background: #FBFCF8;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links li:hover .mega-box{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    background: #fff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.151);
  }
  .mega-box .content .content__row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content .content__row header{
    margin-bottom: 5px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #111111;
    margin-left: 20px;
  }
  .content .content__row .mega-links{
    @include reset-lists;
    display: block;    
  }
  .content__row .mega-links li a{
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #111111;
    display: block;
  }
  .content__row .mega-links li a:hover{
    color: #00000088;
  }
  .wrapperN .btn{
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .closeBtn{
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    color: black;
    background: none;
    display: none;
  }
  .ToggleBtn{
    display: none;
    border: none;
    outline: none;
    font-size: 25px;
    color: black;
    background: none;
  }
  @media screen and (max-width: 1470px) {
      .navigation_bar{
        width: 80%;
      }
  }
@media screen and (max-width: 1200px) {
    .navigation_bar{
        .nav-links{
            li{
                margin: 5px 10px;
            }
        }
        .navigation_login a{
            font-size: 20px;
            padding: 6px 10px;
        }
        .getStarted{
            margin: 0 0 0 22px;
            width: 127px;
            height: 45px;
            font-size: 15px;
            line-height: 15px;
        }
    }
}
  
  @media screen and (max-width: 1080px) {
    .wrapperN .btn{
      display: block;
    }
    .wrapperN .navigation_bar{
      position: fixed;
      height: 100%;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #ffff;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.5s ease;
      z-index: 20;
    }
    .nav-links{
      display: flex;
      flex-direction: column;
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #cacaca;
    }
    ::-webkit-scrollbar-thumb {
      background: #707070;
    }
    .nav-links li{
      margin: 5px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .content__row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .content__row:nth-child(1),
    .mega-box .content .content__row:nth-child(2){
      border-top: 0px;
    }
    .content .content__row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .content__row .mega-links li{
      margin: 0;
      padding: 5px 0;
    }
    .content .content__row header{
      font-size: 19px;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: black;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.5s ease;
    }
    .nav-links .mobile-item:hover{
      background: #e9e9e9;
    }
    .ToggleBtn, .closeBtn{
      display: inline-block;
    }
    .navigation_login{
      margin: 0;
      width: 300px;
      padding-left: 20px;
    }
    .getStarted{
      width: 147px;
      height: 45px;
      font-size: 14px;
      line-height: 14px;
    }
  }
  nav input{
    display: none;
  }