footer {
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 3% 0;
  background-color: #010221;
  width: 100%;
  height: fit-content;
  margin-bottom: 0px; }

footer .m-80 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

footer .m-80 #contact {
  width: 25%;
  display: flex;
  flex-direction: column; }

footer .m-80 #contact form {
  display: flex;
  flex-direction: column; }

footer .m-80 #contact form label {
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  margin-top: 15%; }

footer .m-80 #contact form #email-send {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  width: 100%; }

footer .m-80 #contact form #email-send input {
  width: 70%;
  border: 0;
  padding: 4% 4% 4% 8%;
  border-radius: 8px;
  background-color: #262741; }

footer .m-80 #contact form #email-send button {
  background-color: #3E1BDB;
  color: #FFFFFF;
  width: 30%;
  margin-left: 3%;
  padding: 4%;
  border: 0;
  border-radius: 8px; }

footer .m-80 #contact form span {
  letter-spacing: 0.1em;
  font-size: 1.0rem;
  margin-top: 10%; }

footer .m-80 #contact form i {
  padding: 0 5%;
  font-size: 1.2rem; }

footer .m-80 #contact #footer-logo {
  text-align: start; }

footer .m-80 #contact #footer-logo img {
  width: 50%; }

footer .m-80 #footer-list {
  padding-left: 1%;
  width: 75%; }

footer .m-80 #footer-list table {
  width: 100%; }

footer .m-80 #footer-list table tr {
  width: 100%; }

footer .m-80 #footer-list table tr th, footer .m-80 #footer-list table tr td {
  white-space: nowrap;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  padding-left: 5%; }

footer .m-80 #footer-list table tr th {
  color: #FFFFFF;
  padding-bottom: 3%; }

footer .m-80 #footer-list table tr td {
  color: #cdcdcddc; }
