.container {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: row;
      grid-template-areas: "title" "review" "try";
  width: 90%;
  margin: 0 auto;
  height: 100%;
  background-image: url("../media/img/multi_currency_page/bg-1.svg"), url("../media/img/multi_currency_page/bg-2.svg"), url("../media/img/multi_currency_page/cube.svg");
  background-repeat: no-repeat;
  background-position-x: 0, 100%, 50%;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25vh 0;
}

.title h1 {
  color: #3e1bdb;
  font-size: 60px;
}

.title h2 {
  margin-top: 40px;
  font-size: 16px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
}

.title img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text h4 {
  font-size: 24px;
  padding-bottom: 16px;
}

.text .underline {
  border-top: black 2px solid;
  width: 160px;
  margin-bottom: 53px;
}

.text h5 {
  margin-top: 27px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.text h5 i {
  color: #3e1bdb;
}

.image {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.image img {
  width: 100%;
}

.review {
  margin-bottom: 160px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "review-t review-i";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: review;
}

.review-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: review-t;
}

.review-i {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: review-i;
}

.svg-image svg g {
  width: 20%;
}

.try {
  margin-bottom: 160px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: try;
}

.try div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.try div h1 {
  color: #3e1bdb;
  font-size: 60px;
}

.try div h2 {
  margin: 40px 0 94px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
}

.try div .accounts__image {
  width: 30%;
}

.try div .accounts__image img {
  width: 100%;
}

.try div a {
  padding: 26px 22px;
  background-color: #3e1bdb;
  color: white;
  border-radius: 8px;
  margin: 40px 0 31px;
}

@media only screen and (max-width: 1200px) {
  .image {
    margin-bottom: 50px;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flex-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=joined_accounts.css.map */